/* h1{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline wavy plum;
} */
h1{
    font-weight: bold;
}

li{
    color: blue;
}
.done{
    color: grey;
}

#clear{
    background-color: red;
    color: white;
}

header a {
    font-size: 30px;
    color: teal;
}

#dislikes a {
    font-weight: bold;
    color: red;
}

.card{
    width: 210px;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    text-align: center;
    box-sizing: border-box;
}

img{
    width: 200px;
    border-color:rgb(236, 183, 191);
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
}

